

.DialogContent2 {
	background-color: #fff;
	border-radius: 6px; /* <-- for round corners */
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.10);


	
	padding: 30px 20px;
	animation: contentShow 150ms ease-out;

  }
